# Ignore all CSV files
*.csv

# Ignore the entire Model folder
Model/

# Allow tracking of files in the Model folder
!Model/*

# Ignore node_modules and other package directories
node_modules/
Frontend/node_modules/
Backend/__pycache__/
Backend/routers/__pycache__/
Backend/services/__pycache__/

# Link to the GitHub repository
# https://github.com/nessimbns2/Anime-Rec